/* Grid Layout style sheet for Aitken Bicycles
    Author: Randy Aitken
    Created: 10/3/19
    Notes: Created for IST-336-940, SIU

    Last Edited: 10/16/19

/* default styles for grid pages */

body{
    /*display*/
    display: grid;
    grid-gap: 10px;
	background-color: black;
}

/* default grid layout */

header{ grid-row: 1/2; grid-column-start:1; grid-column-end:7; }
nav{grid-row: 2/3; grid-column-start:1; grid-column-end:7; }
main{ grid-row: 3/4; grid-column-start:2; grid-column-end:6; background-color: white; }
footer{grid-row:4/5; grid-column-start:1; grid-column-end:7;}





