/* Main style sheet for Aitken Bicycles
    Author: Randy Aitken
    Created: 9/10/19
    Notes: Created for IST-336-940, SIU

    Last Edited: 10/25/19

*/


/* default styles for all pages */

h1, h2, h3{
    padding: 5px 0.543%;
	color: #13708f;
	font-variant: small-caps;
	text-shadow: .25px .25px .5px black;
}
h1{
    font-size: 1.85em;
	text-align: center;}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.125em;
}
p{margin: 1em 1em 0px;}
li{
    padding-left: 10px 1.1%;
}
main{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.left{
	float:left;
	margin-left:.4em;
}
.right{
	float:right;
	margin-right:.4em;
}
.button {
	width: 100px;
	height: 30px;
  	font-size:0.7em;
  	border-radius: 5px;
 	padding: 3px;
  	border: 1px solid #13708f;
}

video{
	max-width: 320px; 
	height: 100%;
}

header{	
	color:white;
	display:block;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;}

#dmglogo {height:120px;}



/* table styles */
table{
    table-layout: fixed;
	width:95%;
    border-collapse: collapse;
    white-space:normal;
	margin: 2em 1em;
}
th, td{
    border: 1px solid #13708F;
    padding: 0.2em 0.7em;
    text-align: center;
}
th.left, td.left {
    text-align: left;
}
thead, tfoot{
    background-color: #53bfed;
    font-weight: bold;
}
caption{
	padding: 0 0 1em;
		font-size:1.1em;
	text-align:left;
}

/*nav styles */
nav{
	color:white;
	display:block;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;}
nav ul{
	list-style-type:none;
	overflow:hidden;
	padding: 0px;
}
nav li{ float:left;
	padding: 0px;}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav li a:hover {opacity: 0.7;}

/*body styles */
body{color:black; }

/* footer styles */
footer{color:white;}
footer a:link{color:red;}
footer a:visited{color:#097ECE;}
footer ul{
	list-style-type:none;
	overflow:hidden;
}
footer li{
	float:left;
	padding:.25em;
}

/* Style all font awesome icons */
.fa {
  padding: 0.8em;
  font-size: 1.5em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:link{color:white;}
.fa:visited{color:white;}
.fa:hover{opacity: 0.7;}
/* Set brand-specific colors */
/* Facebook */
.fa-facebook {  background: #3B5998; color: white;}
/* Instagram */
.fa-instagram {  background: #125688;  color: white;}
/* Twitter */
.fa-twitter {  background: #55ACEE;  color: white;}


/*index */

#hdr_img{
	display:block;
	height: auto;
	
	width: 95%;
	margin-top:2em;
	margin-left:auto;
	margin-right:auto;
}

/* news */
.article_wrap{
  	display:flex;
  	justify-content:center ;
  	flex-wrap:wrap;
  	flex-direction:row;
  	align-items:top;
	margin-bottom:2em;
}
.article{
  	padding:.4em;
  	margin: 15px 20px 25px;
  	width: 250px;
  	max-height: 600px;
	display: block;
	text-align: center;
	border: 1px solid #13708f;
	
}
.article img{
    max-height: 250px;
	width: auto;
}
	
.news img{
    width:100%;
    height: auto;
}
.article h2{
  	text-align: center;
  	text-transform:uppercase;
  	font-size: 1.2em;
	height: 30px;
}
.news {
	text-align:left;
}

.article_source{
  	color:darkgray;
  	font-size:0.6em;
  	text-transform: uppercase;
  	text-align: right;
}
.dateblock_wrap{
  	float: left;
  	padding: 10px;
  	margin-top:10px;
  	margin-left:-25px;
  	height:40px;
}

.dateblock{
  	float: left;
  	padding: 15px;
  	margin-left:-25px;
  	height:35px;
  	background-color:#53bfed;
	border-radius: 50%;
	color: white;
}

.dateblock_content{
  	text-align: center;
}

.library_block_wrapper{
	display:inline-block;
}
.libary_block{
	width:80%;
	margin:.5em;
}
.lib_Title{
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
}

.lib_system{
	text-align: left;
	font-style:italic;
}
.lib_keywords{
	text-align: left;
	font-size: .8em;

}
.lib_text{
	text-align:left;
}
.lib_img{
	height: 200px;
	margin: 20px 10px 20px 0;
}
/* events page */
#tndlogo{
	float:left;
	max-height: 125px;
}
#teadragons{
	float:right;
	max-height: 150px;
}
.tbl_date{
	width:20%;
	min-width:200px;
}
.date_day{
	font-weight:bolder;
	font-size:1.25em;
	padding-top:10px;
	padding-bottom:10px;
}
.date_month{
	font-size:0.85em;
	font-variant: small-caps;
}
.event_img_sm{
	float:left;
	max-height: 80px;
}
.tbl_seats{
	width:20%;
	min-width:50px;
}

/*about */
.text_block_wrapper{
	display:inline-block;
	line-height: 1.5;
	margin: 0px 2.5em;
}
.text_block{
	float:left;
	width:90%;
	margin-left:auto;
	margin-right: auto;
}
.img_gm{
	max-width:100px;
	max-height:auto;
}
.center{
	align-content: center;
}
.gm_application{
	display: inline-block;
	width: 85%;
	margin: 0 3em 2em;
}

/* contacts */
.contact_wrap{
  background-color: white;
  text-align: center;
  margin-top: 100px;
}
form {
  padding-bottom: 20px;
}
input{
  font-size: 1em;
}
#input_name, #input_email,#input_message{
  min-width:50%;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom:20px;
  padding: 5px;
}
#input_message{
  height: 80px;
}
input:focus, textarea:focus {
    box-shadow: 0 0 10px slateblue;
}

#sizechart{
	height:100px;
	width: auto;
}
/* specific overrides for responsive design */

@media only screen and (max-width: 800px) {
	.lib_img{
		float:none;
	}
	.lib_text{
		margin-bottom:1.5em;
	}
}
@media only screen and (max-width: 600px) {
	table{
		width: 90%;
	}
	.event_img_sm{
		float:none;
		width: 80px;
		height: auto;
	}
	.tbl_event{
		width:80px;
	}	
}